.cont {
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

.botao {
  display: flex;
  align-items: center;
  background: linear-gradient(#B7541C, #9C2601);
  padding: 10px 15px;
  border-radius: 10px;
  font: 16px 'Plus Jakarta Sans';
  color: #FFFFFF;
  justify-content: center;
}

